<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vmloft.develop.library.picker">

    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 从SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <!--选择器界面-->
        <activity
            android:name="com.vmloft.develop.library.tools.picker.ui.VMPickGridActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/VMTheme" />
        <!--剪切界面-->
        <activity
            android:name="com.vmloft.develop.library.tools.picker.ui.VMPickCropActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:theme="@style/VMTheme" />
        <!--预览界面-->
        <activity
            android:name="com.vmloft.develop.library.tools.picker.ui.VMPickPreviewActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/VMTheme.Transparent" />

        <provider
            android:name="com.vmloft.develop.library.tools.picker.VMPickerProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/vm_provider_paths" />
        </provider>

    </application>
</manifest>
