<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vmloft.develop.library.simple">

    <!--允许应用程序完全使用网络-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.vmloft.develop.library.simple.VMMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--测试 socket 相关-->
        <activity android:name="com.vmloft.develop.library.simple.socket.VMSocketActvity"/>
        <activity android:name="com.vmloft.develop.library.simple.socket.VMSocketServer"/>
        <activity android:name="com.vmloft.develop.library.simple.socket.VMTCPSocketClient"/>
        <activity android:name="com.vmloft.develop.library.simple.socket.VMUDPSocketClient"/>

        <!--测试自定义控件-->
        <activity android:name=".widget.VMDotLineActivity"/>
        <activity android:name=".widget.VMRecordActivity"/>

        <!--测试主题样式-->
        <activity android:name=".theme.VMThemeActivity"/>
    </application>

</manifest>