<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vmloft.develop.library.example">

    <!--允许应用程序完全使用网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--读写外部存储设备权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 获取设备识别码 IMEI -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序在手机屏幕关闭后后台运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--悬浮窗-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!--闪屏页-->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主界面-->
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />

        <!--demo界面 开始-->
        <!--辅助功能-->
        <activity android:name=".ui.demo.accessibility.TBLiveMsgActivity" />
        <service
            android:name=".ui.demo.accessibility.TBLiveMsgService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/tb_live_msg_auto_service" />
        </service>
        <!--自定义弹幕-->
        <activity android:name=".ui.demo.custom.BarrageViewActivity" />
        <!--自定义控件-->
        <activity
            android:name=".ui.demo.custom.CustomViewActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!--自定义Loading-->
        <activity
            android:name=".ui.demo.custom.LoadingViewActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!--弹出PopupWindow窗口-->
        <activity android:name=".ui.demo.dialog.FloatMenuActivity" />
        <!--指示器界面-->
        <activity android:name=".ui.demo.custom.IndicatorViewActivity" />
        <!--Lottie 动画-->
        <activity android:name=".ui.demo.anim.LottieAnimActivity" />
        <!--播放音频-->
        <activity android:name=".ui.demo.media.MediaPlayActivity" />
        <!--通过 url 打开页面 vmlibrary://demo/with?id=1001-->
        <activity android:name=".ui.demo.scheme.SchemeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="demo"
                    android:pathPrefix="/with"
                    android:scheme="vmlibrary" />
            </intent-filter>
        </activity>
        <!--按钮主题样式-->
        <activity android:name=".ui.demo.custom.ButtonThemeActivity" />
        <!--测试线程-->
        <activity android:name=".ui.demo.thread.ThreadActivity" />
        <!--Web 功能界面-->
        <activity android:name=".ui.demo.web.WebTestActivity" />
        <!--图片选择功能界面-->
        <activity android:name=".ui.demo.image.ImagePickerActivity" />
        <!--自定义表格-->
        <activity android:name=".ui.demo.layout.CustomTableActivity" />
        <!--demo界面 结束-->


        <!--设置-->
        <activity android:name="com.vmloft.develop.library.example.ui.settings.SettingsActivity" />
        <!--暗色主题设置-->
        <activity android:name="com.vmloft.develop.library.example.ui.settings.DarkSettingsActivity" />
        <!--资源设置-->
        <activity android:name="com.vmloft.develop.library.example.ui.settings.MediaSettingsActivity" />
        <!--通知设置-->
        <activity android:name="com.vmloft.develop.library.example.ui.settings.NotifySettingsActivity" />
        <!--关于-->
        <activity android:name="com.vmloft.develop.library.example.ui.settings.AboutSettingsActivity" />
        <!--问题反馈-->
        <activity android:name="com.vmloft.develop.library.example.ui.feedback.FeedbackActivity" />


        <!--引导-->
        <activity android:name="com.vmloft.develop.library.example.ui.guide.GuideActivity" />

        <!--        &lt;!&ndash;登录引导&ndash;&gt;-->
        <!--        <activity-->
        <!--            android:name="com.vmloft.develop.library.example.ui.sign.SignActivity"-->
        <!--            android:windowSoftInputMode="adjustNothing|stateVisible" />-->
        <!--        &lt;!&ndash;登录&ndash;&gt;-->
        <!--        <activity-->
        <!--            android:name="com.vmloft.develop.library.example.ui.sign.SignInActivity"-->
        <!--            android:windowSoftInputMode="adjustNothing|stateVisible" />-->
        <!--        &lt;!&ndash;注册&ndash;&gt;-->
        <!--        <activity-->
        <!--            android:name="com.vmloft.develop.library.example.ui.sign.SignUpActivity"-->
        <!--            android:windowSoftInputMode="adjustNothing|stateVisible" />-->
        <activity
            android:name="com.vmloft.develop.library.example.ui.user.UserInfoActivity"
            android:windowSoftInputMode="adjustNothing|stateVisible" />

        <!--        &lt;!&ndash;个人信息&ndash;&gt;-->
        <!--        <activity android:name="com.vmloft.develop.library.example.ui.main.mine.info.PersonalInfoActivity" />-->
        <!--        &lt;!&ndash;个人信息用户名设置&ndash;&gt;-->
        <!--        <activity android:name="com.vmloft.develop.library.example.ui.main.mine.info.EditUsernameActivity" />-->
        <!--        &lt;!&ndash;个人信息昵称设置&ndash;&gt;-->
        <!--        <activity android:name="com.vmloft.develop.library.example.ui.main.mine.info.EditNicknameActivity" />-->
        <!--        &lt;!&ndash;个人信息签名设置&ndash;&gt;-->
        <!--        <activity android:name="com.vmloft.develop.library.example.ui.main.mine.info.EditSignatureActivity" />-->
        <!--        &lt;!&ndash;个人信息个人认证&ndash;&gt;-->
        <!--        <activity android:name="com.vmloft.develop.library.example.ui.main.mine.info.PersonalAuthActivity" />-->

    </application>
</manifest>
