<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vmloft.develop.library.example">

    <!--允许应用程序完全使用网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--相机权限-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--读写外部存储设备权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 获取设备识别码 IMEI -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序在手机屏幕关闭后后台运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--弹出框-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <!--主界面-->
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--设置页面-->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme"
            />
        <!--通知设置页面-->
        <activity
            android:name=".ui.settings.NotifySettingsActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme"
            />
        <!--暗色主题设置页面-->
        <activity
            android:name=".ui.settings.DarkSettingsActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme"
            />
        <!--图片资源设置页面-->
        <activity
            android:name=".ui.settings.PictureSettingsActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme"
            />
        <!--调试设置页面-->
        <activity
            android:name=".ui.settings.DebugSettingsActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme"
            />
        <!--关于页面-->
        <activity
            android:name=".ui.settings.AboutSettingsActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme"
            />
        <!--问题反馈页面-->
        <activity
            android:name=".ui.feedback.FeedbackActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme"
            />

        <!--通用界面-->
        <!--Web页面-->
        <activity
            android:name=".ui.web.WebActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme"
            />

        <!--自定义弹幕-->
        <activity android:name=".demo.custom.BarrageViewActivity" />
        <!--自定义控件-->
        <activity
            android:name=".demo.custom.CustomViewActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!--自定义Loading-->
        <activity
            android:name=".demo.custom.LoadingViewActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!--弹出PopupWindow窗口-->
        <activity android:name=".demo.dialog.FloatMenuActivity" />
        <!--指示器界面-->
        <activity android:name=".demo.custom.IndicatorViewActivity" />
        <!--Lottie 动画-->
        <activity android:name=".demo.anim.LottieAnimActivity" />
        <!--播放音频-->
        <activity android:name=".demo.media.MediaPlayActivity" />
        <!--通知提醒-->
        <activity android:name=".demo.notify.NotifyActivity" />
        <!--通过 url 打开页面 vmlibrary://demo/with?id=1001-->
        <activity android:name=".demo.scheme.SchemeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="demo"
                    android:pathPrefix="/with"
                    android:scheme="vmlibrary" />
            </intent-filter>
        </activity>
        <!--按钮主题样式-->
        <activity android:name=".demo.style.BtnStyleActivity" />
        <!--测试线程-->
        <activity android:name=".demo.thread.ThreadActivity" />
        <!--Web 功能界面-->
        <activity android:name=".demo.web.WebActivity" />


    </application>
</manifest>
